* {
    margin: 0;
    padding:0px
}

html {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-lp {
    background-color: rgba(243, 111, 33, 1);
    width: 100%;
    height: 110px;
    display: flex;
}

.logo-desktop {
    width: 580px;
    height: 215px;
}

.nav-lp p {
    color: white;
    padding: 2rem;
    margin: auto;
    font-size: 32px;
}

.container-conteudo{
    background: linear-gradient(148.88deg, #0A4595 28.15%, #000307 78.06%);
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}

.conteudo-chamada{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.conteudo-chamada p{
    color: white;
    font-size: 32px;
    line-height: 37px;    
}
.conteudo-chamada img{
    width: 500px;
    padding-left: 3.5rem;
    transition: width 2s;   
}

.container-conteudo img:hover{
    width: 103%;
    transition: width 2s;
}

.texto-chamada{
    padding-left: 4.5rem;
}

.cadastro{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 7rem 9.5rem 2rem;   
}

.cadastro h1{
    color: white;
    font-size: 32px;
    line-height: 37px;
    margin-top: 2rem;
    text-align: center;
    padding: 1rem;
    margin-bottom: 3rem;
}

.label{
    color: white;
    font-size: 32px;
    line-height: 37px;
    margin-top: 2rem;    
}

.cadastro input{
    width: 100%;
    height: 62px;
    border-radius: 10px;
    border: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor:text;
    text-indent: 1rem;
    font-size: 20px;
}

#btn-cadastro{
    background: #F36F21;
    border-radius: 10px;
    color: white;
    font-size: 32px;
    line-height: 37px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 2rem;
    cursor: pointer;
    transition: 2s;
}

#btn-cadastro:hover{
    background-color:#ff0000;
    color: #fff;
    font-size: 2.1rem;
    transition: 2s;
}

.footer-lp{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-lp p{
    font-size: 18px;
    line-height: 35px;
    color: #000307;
}

.logo-mobile{
    display: none;
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);    
  }
  
  .modal-content {
    background-color: rgb(243 111 33);
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    height: 15rem;
    text-align: center;
    color: white;
    font-size: 32px;    
    border-radius: 1rem; 
  }
  
  .link-site{
    color:#0A4595;
  }

  .close {
    color:#0A4595;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-content--texto{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
 
  .link-footer{
      text-decoration: none;
  }

@media only screen and (max-width: 1100px) {
.container-conteudo{
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-top: 11rem;
    padding-bottom: 8rem;    
    }
    .texto-chamada ,.conteudo-chamada, .cadastro{
        padding: 0;
        text-align: left;
        width: 70%
    }
    .texto-chamada{
        text-align: center !important;
    }
}

@media only screen and (max-width: 840px) {
    .texto-chamada ,.conteudo-chamada, .cadastro{
        padding: 0;
        text-align: left;
        width: 94%
    }
    .logo-desktop  {
        display: none;
    }
    .nav-lp p{
        display: none;
    }
    .conteudo-chamada img{
        width: 100%;
        padding-left: 3.5rem;
        transition: width 2s;   
    }
    
    .container-conteudo img:hover{
        width: 110%;
        transition: width 2s;
    }

    .conteudo-chamada p {
        font-size: 1.5rem;
    
    }

    .logo-mobile{
        display: block;
        width: 250px;
        margin: auto;
    }

    .nav-lp {
        background-color: rgb(255 255 255);
        height: 172px;       
    }

    .container-conteudo {        
        padding-top: 3rem;         
    }

    .conteudo-chamada img, .container-conteudo img:hover {
        width: 90%;
        padding-left: 1.7rem;
    }
    
}

